body {
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

p{
    color: #111111;
}
.main{
    overflow: auto;
    text-align: center;
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu{
    background-color: gold;
    text-align: center;
}
.menu ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    
}
.menu li {
    display: inline-block;
    text-align: center;
    
}
.menu li a {
    display: inline-block;
    height: auto;
    width: 150px;
    color: white;
    background-color: wheat;
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
.menu li a:hover {
    background-color: black;
}
.footer {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: goldenrod;
    text-align: center;
}
.footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    
}
.footer li {
    display: inline-block;
    text-align: center;
}
.footer li a {
    display: inline-block;
    height: auto;
    width: auto;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.footer li a:hover{
    background-color: #d6d599;
}

.photos {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: black;
}
.photos img {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(179, 117, 117);
    border-radius: 6px;
    margin: 2px;
    object-fit: cover;
    object-position: top;
}
